<!DOCTYPE html>
<html>
    <head>
        <title>Invite Friends</title>
        <!-- css -->
        <link rel="stylesheet" href="../static/css/treq-style.css">
        <link rel="stylesheet" href="../static/css/treq-mobile.css">
        <link rel="stylesheet" href="../static/css/invite-friends.css">
        

        <!-- font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">

        <!-- js -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div id="mobile-restrict-container">
            <img id="status-bar" src="../static/images/status-bar.png" alt="iPhone Status Bar with a Notch">
            <div id="top-bar">
                <div id="top-bar-left" class="top-bar-element">
                    <a href="javascript:history.back()">
                        <img class="back-button" src="../static/images/left-arrow.png" alt="Back Arrow">
                    </a>
                </div> 
                <div id="top-bar-mid" class="top-bar-element">
                    Invite
                </div> 
            </div>
            <div class="content content-limit-center">
                <div class="input-container">
                    <input type="text" id="frd_username" name="frd_username" placeholder="friend's username">
                </div>
                <div class="friend-container">
                    <img class="friend" src="../static/images/menfriend.png"/>
                    <div class="info-container">
                        <div id="name" class="name">
                            Time Charupaisankit
                        </div>
                        <div id="account" class="account">
                            @niruttitime
                        </div>
                    </div>
                    <button class="invite-button pill-button">Invite</button>
                </div>
                <hr>
                <div class="friend-container">
                    <img class="friend" src="../static/images/friends.png"/>
                    <div class="info-container">
                        <div id="name" class="name">
                            Jennifer Widjaja
                        </div>
                        <div id="account" class="account">
                            @jennw
                        </div>
                    </div>
                    <button class="invite-button pill-button">Invite</button>
                </div>
                <hr>
                <div class="friend-container">
                    <img class="friend" src="../static/images/menfriend.png"/>
                    <div class="info-container">
                        <div id="name" class="name">
                            PJ Sethbhakdi
                        </div>
                        <div id="account" class="account">
                            @peej
                        </div>
                    </div>
                    <button class="invite-button pill-button">Invite</button>
                </div>
                <hr>
                <div class="friend-container">
                    <img class="friend" src="../static/images/friends.png"/>
                    <div class="info-container">
                        <div id="name" class="name">
                            Venice Hartono
                        </div>
                        <div id="account" class="account">
                            @vhart
                        </div>
                    </div>
                    <button class="invite-button pill-button">Invite</button>
                </div>
                <hr>
                <div class="friend-container">
                    <img class="friend" src="../static/images/menfriend.png"/>
                    <div class="info-container">
                        <div id="name" class="name">
                            Eithan Jahja
                        </div>
                        <div id="account" class="account">
                            @eithan
                        </div>
                    </div>
                    <button class="invite-button pill-button">Invite</button>
                </div>
                <hr>
                <div class="friend-container">
                    <img class="friend" src="../static/images/menfriend.png"/>
                    <div class="info-container">
                        <div id="name" class="name">
                            Brian Smith
                        </div>
                        <div id="account" class="account">
                            @bas
                        </div>
                    </div>
                    <button class="invite-button pill-button">Invite</button>
                </div>
                <hr>

            </div>
        </div>
    </body>
</html>