<!DOCTYPE html>
<html>
    <head>
        <title>Onboarding</title>

        <!-- css -->
        <link rel="stylesheet" href="../static/css/treq-style.css">
        <link rel="stylesheet" href="../static/css/treq-mobile.css">
        <link rel="stylesheet" href="../static/css/onboarding.css">
        

        <!-- font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap">

        <!-- js -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div id="mobile-restrict-container" class="content-center-limit">
            <div id="status-bar"></div>
            <div id="top-bar">
                <div id="top-bar-left" class="top-bar-element"></div> 
                <div id="top-bar-mid" class="top-bar-element">Treq</div>
                <div id="top-bar-right" class="top-bar-element"></div> 
            </div>
            <div class="content center-control">
                <div id="logo-container">
                    <img src="../static/images/logo.png">
                </div>
                <div id="button-container" class="button-container">
                    <a href="login.html" id="login-button" class="pill-button">Log In</a>
                    <a href="signup.html" id="signup-button" class="pill-button">Sign Up</a>
                </div>
            </div>
        </div>
    </body>
</html>
