.header-icon {
	height: 22px;
}

.trip-cover-image {
	width: 100%;
}

#trip-info {
	margin: 5px 0px;
	display: grid;
	grid-template-rows: auto;
	gap: 5px;
}

#subtitle {
	font-size: 16px;
	font-weight: semibold;
	color: #6B6565;
}

#title {
	font-weight: bold;
}

#tripmates {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	gap: 10px;
	align-items: center;
}

#invited-profile-icon {
	height: 31px;
}

#invited-profile-list {
	font-size: 15px;
}

#add-person-icon {
	height: 16px;
}

#day-select {
	padding: 5px;
}

#dates {
	width: 100%;
}

#actions {
	display: grid;
	grid-template-columns: repeat(2, auto);
	gap: 10px;
}

#schedule {
	display: grid;
	grid-template-rows: auto;
}

.inactive-event {
	color: grey;
	display: grid;
	grid-template-columns: 70px auto;
	align-items: center;
	height: 40px;
}

.event-time {
	font-size: 14px;
}

.event-name {
	font-size: 16px;
}

.active-event {
	display: grid;
	grid-template-columns: 100px auto;
	grid-template-rows: auto;
	gap: 5px;
	font-weight: bold;
	align-items: center;
}

.active-event-bottom-line {
	grid-column: 1 / 3;
}
